html {
	scroll-behavior:smooth;	
}

body {
display:flex;
flex-direction:column;
justify-content:space-between;
align-items:center;

/*Box Model Properties */
margin:0;
padding:0;
min-height: 100vh;
font-family: 'Architects Daughter', cursive;
font-size:20px;
}

body > * {
	display:flex;
	align-items:center;
	justify-content:center;
}

.button {
 background-color: #E46592; /*Pink */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-family: 'Architects Daughter', cursive;
 font-size: 16px;
}

nav {
   color:beige;
   background-color: #E67059;
   height:80px;
   width:100%;
}
.topnav {
  background-color:     #F04D63	;
  overflow: hidden;

position: sticky;
top:0;

}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: 	#ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:  #F04D63;
  color: black;
}

/* Add a color to the active/current link */
.topnav .active {
  background-color:   #C3A6F0;
  color: white;
}


header {
   color: beige;
   background-color:   #C3A6F0;
   height:400px;
   width:100%;
}
header {
	color:black;
	background-color: #E67059;
	height:400px;
	width:100%;
}

header {
	background-color: #FDF0E6;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

header h1 {
	font-size: 64px;
	margin: 0;
	
}

header h2 {
	font-size: 40px;
	margin: 0;
	color: #F45B69;
	/* Make all of the characters to uppercase*/
	text-transform: uppercase;
}

header h3 {
	font-size: 16px;
	margin: 0;
	color: #5E616E;
}

header img {
	width: 320px;
	height: 350px;
	background-color: #fff;
	border-radius: 50%;
	margin-left: 40px;
}
#about {
   color:black;
   background-color:  #F04D63;
   min-height:400px;
   width:100%;
{
	/* Add background image */
	background-image: url("assets/about-background.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	/* Center the content vertically and horizontally */
	display: flex;
	align-items: center;
	justify-content: center; 
}

#about > div {
	max-width: 840px;
	/* padding: top right bottom left */
	padding: 40px 40px 40px 40px;

	/*a in rgba is the alpha channel that specifies the opacity for a color*/
	background-color: rgba(0, 0, 0, 0.7);

	/* Define the text color in this div box*/
	color: white;
}

}

#PortaltoCyberWorld{
   color:beige;
   background-color: #E46592;
   min-height:400px;
   width:100%;
}

#contact {
   color:white;
   background-color:   #C3A6F0;
   min-height:400px;
   width:100%;
}

footer {
   color:white;
   background-color: #C3A6F0;
   height:120px;
   width:100%;
}